body, html {
  margin: 0;
  padding: 0;
  background-image: url("../../images/china-2018/yangshuo.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center top 15%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  opacity: 0.9;
  color: white;
}

h1 {
  font-size: 6em;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 2em;
}

li {
  display: inline-block;
  margin-right: 1em;
}

li a {
  color:inherit;
  text-decoration: inherit;
  transition: color 0.5s ease;
}

li a:hover {
  color:#4acaa8;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.fade-in-fast {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}